%h1= @project.name

%h2 Tasks

= render partial: "shared/show_tasks", locals: {tasks: @project.tasks}





- if current_user.is_admin?
  .row
    .col-md-12
      =link_to "New Task", new_task_path, class: "btn btn-primary"
      
.row
  .col-md-12
    - if current_user.is_admin?
      = link_to 'Edit', edit_project_path(@project) 
      &nbsp;|&nbsp;
    = link_to 'Back', projects_path
